$lightCyan: hsl(193, 38%, 86%);
$neonGreen: hsl(150, 100%, 66%);
$grayishBlue: hsl(217, 19%, 38%);
$darkGrayishBlue: hsl(217, 19%, 24%);
$darkBlue: hsl(218, 23%, 16%);

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: $darkBlue;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $darkGrayishBlue;
    width: 375px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    row-gap: 0.5rem;
    place-items: center;
    padding: 1rem 1rem 0 1rem;
    border-radius: 10px;

    #id {        
        h1 {
            font-weight: 100;
            color: $neonGreen;
            font-size: 11px;
            font-family: 'Manrope', sans-serif;
            text-align: center;
        }
    }

    #advice {
        color: $lightCyan;
        font-size: 28px;
        font-family: 'Manrope', sans-serif;
        text-align: center;
    }
}

button {
    position: relative;
    top: 50%;
    border-radius: 50%;
    border: none;
    background-color: $neonGreen;
    img {
        padding: 1rem;
    }
}

button:hover {
    box-shadow: 0px 0px 1rem 0.5rem $neonGreen;
}

